@import "background.css";

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-transform: uppercase;
}

.menu {
    width: 60%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a {
    font-size: 2.5vw;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: rgb(105, 110, 110);
    color: black;
    position: relative;
    min-width: 7rem;
    min-height: 3rem;
    transition: 0.1s;
    overflow: hidden;
    text-transform: Uppercase;
    width:45%;
    text-align: center;
  }
  
a:hover {
    transition-delay: 0.1s;
    background-color: #51FF0D;
    box-shadow: 0 0 10px white, 0 0 30px #51FF0D, 0 0 60px #51FF0D,
      0 0 90px #51FF0D;
    letter-spacing: 5px;
  }


  